
.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8; 
}

.card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #333;
}


.info-section {
  margin-bottom: 20px;
}


.filter-section {
  margin-bottom: 20px;
}


.filter-section button {
  margin-right: 10px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer; 
  border-radius: 8px;
}


.input-section input {
  padding: 8px;
  margin-right: 10px;
  font-size: 14px;
}

.input-section button {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
} 
.heading{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.date{
  font-size: large;
  font-weight: bold;
} 

.active{
  font-size:small;
  color: blue;
  font-weight: 800;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 700; 
  
}
.button-task{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}
.task{
  margin: 10px;
}

.todo-list li.completed {
  text-decoration: line-through;
  color: red; 
  
}


.todo-list li.pending {
  text-decoration: none;
  color:black;
  
}

.empty-message {
  color: #888;
  font-style: italic;
}
